# OPEN ELECTIVE PREDICTOR

In [54]:
import pandas as pd
from matplotlib import pyplot as plt 
%matplotlib inline
import numpy as np
import seaborn as sns

In [55]:
df=pd.read_csv(r"C:\Users\Asus\Downloads\UtPredictor\ST2ml.csv", encoding='unicode_escape')

In [56]:
df

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9
3,AAKASH SAXENA,5.5,1,NaN,13.5,16,36.0,14.4,AAKASH SAXENA,17,24,8,17.5,32,98.5,28.1
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df=df.dropna()

In [58]:
df_filtered=df.copy()

In [59]:
df_filtered

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3
5,AARUSHI GUPTA,43,47,42.5,45,44,221.5,88.6,AARUSHI GUPTA,64.5,51,61,58,60,294.5,84.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,UTKARSH RAJ,15,16,28.5,20,27,106.5,79.2,UTKARSH RAJ,28,42,48,40,47,205.0,58.6
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4

In [60]:
df_filtered["PreferredElective"]=0

In [61]:
df_filtered

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT,PreferredElective
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3,0
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9,0
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9,0
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3,0
5,AARUSHI GUPTA,43,47,42.5,45,44,221.5,88.6,AARUSHI GUPTA,64.5,51,61,58,60,294.5,84.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,UTKARSH RAJ,15,16,28.5,20,27,106.5,79.2,UTKARSH RAJ,28,42,48,40,47,205.0,58.6,0
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6,0
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4,0
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0,0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4,0

In [62]:
len(df_filtered)

289

In [71]:
numeric_columns = ['CHEMISTRY', 'MATHS', 'ELECTRONICS', 'MECHANICAL', 'SOFTSKILLS']
df_filtered[numeric_columns] = df_filtered[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [72]:
print(df.dtypes)

NAME               object
CHEMISTRY          object
MATHS              object
ELECTRONICS        object
MECHANICAL         object
SOFTSKILLS         object
TOTAL             float64
PERCENTAGE        float64
NAMEPUT            object
CHEMISTRYPUT       object
MATHSPUT           object
ELECTRONICSPUT     object
MECHANICALPUT      object
SOFTSKILLSPUT      object
TOTALPUT          float64
PERCENTAGEPUT     float64
dtype: object

In [73]:
df_filtered['PreferredElective'] = df[numeric_columns].idxmax(axis=1)

TypeError: reduction operation 'argmax' not allowed for this dtype

In [69]:
subject_to_elective_mapping = {
    'CHEMISTRY': 'MaterialScience',
    'MATHS': 'DigitalElectronics',
    'ELECTRONICS': 'SensorInstrumentation',
    'MECHANICAL': 'MechanicsApplied',
    'SOFTSKILLS': 'EnergySciences'
}
df_filtered['PreferredElective'] = df_filtered['PreferredElective'].map(subject_to_elective_mapping)

In [70]:
df_filtered

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT,PreferredElective
0,AADITYA KUMAR,NaN,NaN,NaN,NaN,NaN,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3,NaN
1,AAKARSH SINGH,NaN,NaN,NaN,NaN,NaN,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9,NaN
2,AAKARSH SINGH,NaN,NaN,NaN,NaN,NaN,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9,NaN
4,AANSHI GUPTA,NaN,NaN,NaN,NaN,NaN,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3,NaN
5,AARUSHI GUPTA,NaN,NaN,NaN,NaN,NaN,221.5,88.6,AARUSHI GUPTA,64.5,51,61,58,60,294.5,84.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,UTKARSH RAJ,NaN,NaN,NaN,NaN,NaN,106.5,79.2,UTKARSH RAJ,28,42,48,40,47,205.0,58.6,NaN
336,VEDANSH TRIPATHI,NaN,NaN,NaN,NaN,NaN,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6,NaN
337,VISHAL AGRAWAL,NaN,NaN,NaN,NaN,NaN,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4,NaN
338,VIVEK SINGH,NaN,NaN,NaN,NaN,NaN,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0,NaN
339,YASH MISHRA,NaN,NaN,NaN,NaN,NaN,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4,NaN

In [33]:
np.random.seed(42)
num_rows_per_category = int(0.2 * len(df_filtered))
categories = ["DigitalElectronics", "MaterialScience", "EnergyScience", "Mechanics", "SensorInstrumentation"]
indices_per_category = []
for category in categories:
    indices = np.random.choice(df_filtered.index, num_rows_per_category, replace=False)
    indices_per_category.append(indices)
    df_filtered.loc[indices, 'PreferredElective'] = category
df_filtered

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT,PreferredElective
0,AADITYA KUMAR,NaN,NaN,NaN,NaN,NaN,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3,NaN
1,AAKARSH SINGH,NaN,NaN,NaN,NaN,NaN,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9,Mechanics
2,AAKARSH SINGH,NaN,NaN,NaN,NaN,NaN,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9,SensorInstrumentation
4,AANSHI GUPTA,NaN,NaN,NaN,NaN,NaN,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3,NaN
5,AARUSHI GUPTA,NaN,NaN,NaN,NaN,NaN,221.5,88.6,AARUSHI GUPTA,64.5,51,61,58,60,294.5,84.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,UTKARSH RAJ,NaN,NaN,NaN,NaN,NaN,106.5,79.2,UTKARSH RAJ,28,42,48,40,47,205.0,58.6,NaN
336,VEDANSH TRIPATHI,NaN,NaN,NaN,NaN,NaN,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6,MaterialScience
337,VISHAL AGRAWAL,NaN,NaN,NaN,NaN,NaN,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4,SensorInstrumentation
338,VIVEK SINGH,NaN,NaN,NaN,NaN,NaN,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0,DigitalElectronics
339,YASH MISHRA,NaN,NaN,NaN,NaN,NaN,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4,MaterialScience

In [34]:
len(df_filtered[df_filtered["PreferredElective"]==0])

0

In [35]:
len(df_filtered[df_filtered["PreferredElective"]=="Mechanics"])

44

In [36]:
len(df_filtered[df_filtered["PreferredElective"]=="DigitalElectronics"])

28

In [37]:
len(df_filtered[df_filtered["PreferredElective"]=="SensorInstrumentation"])

57

In [38]:
len(df_filtered[df_filtered["PreferredElective"]=="EnergyScience"])

34

In [39]:
len(df_filtered[df_filtered["PreferredElective"]=="MaterialScience"])

36

In [40]:
df_filtered = df_filtered[df_filtered['PreferredElective'] != 0]

In [41]:
len(df_filtered[df_filtered["PreferredElective"]==0])

0

# Model Training

In [242]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [245]:
applicant_df=df_filtered.copy()

In [246]:
label_encoder = LabelEncoder()
applicant_df['PreferredElectiveEncoded'] = label_encoder.fit_transform(applicant_df['PreferredElective'])

In [247]:
applicant_df

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT,PreferredElective,PreferredElectiveEncoded
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9,Mechanics,3
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9,SensorInstrumentation,4
6,AASHISH CHAUDHARY,24.5,14,41,30,30,139.5,55.8,AASHISH CHAUDHARY,42,27,32,39,44,184.0,52.6,DigitalElectronics,0
8,AAYUSH GARG,18,22,38,34.5,25,137.5,55.0,AAYUSH GARG,34,49,27,32,36,178.0,50.9,MaterialScience,2
10,AAYUSHMAN SHARMA,7.5,8,10,27,26,78.5,31.4,AAYUSHMAN SHARMA,31,24,16,28.5,29,128.5,36.7,MaterialScience,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,SUSHMITA PRADHAN,44,42,45,40,46,217.0,52.8,SUSHMITA PRADHAN,41,68,59,51,66,285.0,81.4,EnergyScience,1
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6,MaterialScience,2
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4,SensorInstrumentation,4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0,DigitalElectronics,0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4,MaterialScience,2

In [251]:
X = applicant_df[['CHEMISTRY', 'MATHS', 'ELECTRONICS', 'MECHANICAL', 'SOFTSKILLS']]
y = applicant_df['PreferredElectiveEncoded']

In [252]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [253]:
model = LogisticRegression(max_iter=1000)

In [254]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [255]:
y_pred = model.predict(X_test)

In [266]:
STMARKS = pd.DataFrame({'CHEMISTRY': [20], 'MATHS': [25], 'ELECTRONICS': [38], 'MECHANICAL': [35], 'SOFTSKILLS': [40]})
ELECTIVEPREDICTION = model.predict(STMARKS)
PREDICTEDELECTIVE = label_encoder.inverse_transform([int(ELECTIVEPREDICTION)])

print(f"YOU SHOULD TAKE THE BRANCH: {PREDICTEDELECTIVE[0]}")

YOU SHOULD TAKE THE BRANCH: MaterialScience